.progressContainer::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.progressIndicator {
  vertical-align: middle;
}
.progressText {
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
}

.dialog .title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.dialog label {
  font-weight: bold;
  margin-right: 7px;
  min-width: 45px;
}
