.right {
  float: right;
  margin-right: 40px;
}
.moreInfo {
  margin-top: -15px;
}
.infoLine {
  display: block;
  font-size: 14px;
  line-height: 1.5;
}
.heading {
  font-weight: 500;
  margin-right: 5px;
}
.content {
  color: rgba(0, 0, 0, 0.541176);
}
.actions {
  float: right;
}
.moreInfoContent {
  overflow: hidden;
}
