.right {
  float: right;
  margin-right: 40px;
}
.moreInfo {
  font-size: 14px;
  margin-top: -15px;
  padding: 10px 15px 0;
}
.infoLine {
  display: block;
  line-height: 1.5;
}
.heading {
  font-weight: 500;
  margin-right: 5px;
}
.content {
  color: rgba(0, 0, 0, 0.541176);
}
