.cell {
  font-size: 16px !important;
  height: auto !important;
  padding: 0 !important;
  vertical-align: middle;
}
.cellIcon {
  padding: 0 !important;
  width: 48px;
}
.error {
  color: #DC0110;
  font-size: 14px;
  margin-top: 3px;
}
.reminderSubtext {
  font-size: 14px;
  margin-bottom: 5px;
}