:global {
  @import 'base';
  // @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
    touch-action: manipulation;
    user-select: none;
  }

  html,
  body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  *:not(i) {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  }

  h1 {
    font-size: 24px;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    line-height: normal;
  }

  .container {
    height: 100%;
  }

  .fa-xs {
    font-size: 8px;
  }

  .pointer {
    cursor: pointer;
  }

  textarea,
  input {
    outline: none;
  }

  .visible {
    visibility: visible !important;
  }

  button .material-icons {
    display: block;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }
}
