@import '../../styles/variables/spacing.scss';

$header-height: 45px;
$nav-height: 45px;
$category-width: 75px;
$content-height: 100%;

.container {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.contentContainer {
  height: $content-height;
  overflow: hidden;
  padding-bottom: var(--button-height);
  -webkit-overflow-scrolling: touch;
}
.fixedLeft {
  float: left;
  height: 100%;
  width: $category-width;
}
