$color-primary: #DC0110;

.background-primary {
  background-color: $color-primary;
}
.text-primary {
  color: #ddd;
}
.border {
  border-color: #ddd;
}

:root {
  --primary-color: $color-primary;
  --secondary-color: #585858;
  --label-color: #a4a4a4;
  --border-color: #ddd;
  --hover-bg-color: #f6f6f6;
  --active-bg-color: #eee;
  --selectable-item-bg-color: #333;
  --selected-item-bg-color: #666;
  --selected-item-text-color: #fff;

  // Errors
  --error-color: red;
  --success-color: #4CAF50;
}

.success {
  color: var(--success-color);
}
