:root {
  --font-size-xxxl: 18px;
  --font-size-xxl: 16px;
  --font-size-xl: 15px;
  --font-size-lg: 14px;
  --font-size-default: 12px;
  --font-size-sm: 11px;
  --font-size-xs: 10px;

  --font-weight-default: 400;
  --font-weight-bold: 600;
}
